<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=192.168.20.6;Initial Catalog=BI; Persist Security Info=True; User ID=sa;Password=mama" />
    
    <add key="DirectorioObservar" value="C:\AndradeGPO\bi_MYSQL\Bi_automatizacion\CachaYEnvia\CachaYEnviaCorreoSeparacion\CachaYEnviaCorreo\bin\Debug" />
    <add key="DirectorioEnviados" value="C:\AndradeGPO\bi_MYSQL\Bi_automatizacion\CachaYEnvia\CachaYEnviaCorreoSeparacion\CachaYEnviaCorreo\bin\Debug\Enviados" />
    
    <!-- De este servidor traera el resto de archivos-->
    <add key="IPRemoto" value="192.168.20.29" />
    <add key="Usr" value="Administrador" />
    <add key="Pass" value="HPinvent123" />   
    <add key="CarpetaRemota" value="\\192.168.20.29\BusinessPro\CHEV\AvisoReporteConciliacion\XZipear" />
    
    <add key="MinutosEsperaLlenado" value="1" />
    <add key="Mascara" value="CierreDia_Conciliacion_Modulos vs contabilidad_" />
    
    <!-- <add key="MetodoDeEnvio" value="FTP" /> -->
    <add key="MetodoDeEnvio" value="CARPETACOMPARTIDA" />
    <add key="MinutosEjecucion" value="60" />
    <add key ="MinutosEjecucionDespuesUltimoEnviado" value="10"/>
    <add key="DirLocalArchivosZipear" value="C:\AndradeGPO\bi_MYSQL\Bi_automatizacion\CachaYEnvia\CachaYEnviaCorreoSeparacion\CachaYEnviaCorreo\bin\Debug\XZipear" />
        
    <add key="smtpserverhost" value="smtp.gmail.com" />
    <add key="smtpport" value="587" />
    <add key="usrcredential" value="lbonnetayala@gmail.com" />
    <add key="usrpassword" value="7b0nn3t7" />
    <add key ="EnableSsl" value="true"/>
    <add key="PreSubject" value ="PRUEBA DE CORREO IGNORAR"/>   

    <add key="emailsavisar" value="luis.bonnet@grupoandrade.com.mx" />
    <add key="IPLocal" value="192.168.7.191"/>

    <add key="LInferiorInicioTyCHoraNoc" value="10:30"/>
    <add key="LSuperiorInicioTyCHoraNoc" value="11:00"/>
    
    <add key="HoraCerrarAplicacion" value="02:30"/>

    <add key="CarpetasCSV" value="C:\AndradeGPO\bi_MYSQL\Bi_automatizacion\CachaYEnvia\CachaYEnviaCorreoSeparacion\CachaYEnviaCorreo\bin\Debug\GMC\SIN,C:\AndradeGPO\bi_MYSQL\Bi_automatizacion\CachaYEnvia\CachaYEnviaCorreoSeparacion\CachaYEnviaCorreo\bin\Debug\GMC\SAT,C:\AndradeGPO\bi_MYSQL\Bi_automatizacion\CachaYEnvia\CachaYEnviaCorreoSeparacion\CachaYEnviaCorreo\bin\Debug\GMC\AZC"/>
    <!-- Son los nombres de todas las marcas para poder conocer de cuales marcas no se obtuvo archivo-->
    <!-- Necesario que el nombre de la marca aparezca en el nombre del archivo -->    
    <add key="TODASLASMarcasCSV" value="AgenciaSin,GMCSatelite,CHEVROLET"/>
    
    <!-- Solo son las marcas que se procesan en este servidor -->
    <add key="MarcasCSV" value="AgenciaSin,GMCSatelite,CHEVROLET"/>
    <add key="emailsavisarNoHayNada" value="luis.bonnet@grupoandrade.com.mx" />
    <!-- El nombre de la marca es el nombre que buscará en el nombre del archivo dentro de la carpeta XZipear -->
    <add key="emailsXMarca" value="FORD:luis.bonnet@grupoandrade.com.mx,bonnetalj@hotmail.com;GMCSatelite:luis.bonnet@grupoandrade.com.mx,bonnetalj@hotmail.com;CHEVROLET:luis.bonnet@grupoandrade.com.mx,bonnetalj@hotmail.com" />

    <add key ="EnviaCorreoPrincipal" value="SI"/>    
    
  </appSettings>
 
</configuration>